@charset "UTF-8";

body {
    background-color: lightsteelblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

h1 {
    color: maroon;
    background-color: darkgoldenrod;
    font-size: 1.5em;
}

h2 {
    color: darkred;
    font-size: 1em;
}

p {
    text-align: justify;
}