@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Young Serif', serif;
    --fonte3: 'Passion One', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--fonte1);
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte3);
    font-size: 10vw;
}

header > p {
    padding-bottom: 50px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover, footer:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 20px;
    font-family: var(--fonte2);
    font-size: 2.5vw;
}

section.normal {
    background-color: #BF495E;
    color: black;
}

section.imagem {
    background-color: rgba(15, 14, 14, 0.377);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.658);
    background-attachment: fixed;
}

section.imagem > p {
    display: inline-block;
    padding: 10px;
    background-color: #73364660;
    text-shadow: 2px 2px 0px black;
}

section#img01 {
    background-image: url(../imagens/wp4922875.jpg);
    background-position: top center;
    background-size: cover;
}

section#img02 {
    background-image: url(../imagens/wp4922945.jpg);
    background-position: center center;
    background-size: cover;
}

section#img03 {
    background-image: url(../imagens/2yj2ank7lr511.png);
    background-position: center center;
    background-size: cover;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}